{% extends 'layout/base.html' %}
{% load i18n %}
{% load extra-tags %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h4>{% trans "Edit password" %}</h4>
            <p>{% trans "Please enter your old password, for security, and then enter the new password twice to verify that you have typed it correctly." %}</p>

            <form method="post" data-toggle="validator" role="form" class="form-horizontal">
            {% display_errors form %}
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
                        <div class="col-sm-3">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">{% trans "Change my password" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $("input:visible").prop('required',true);
        $("input:visible").addClass('form-control');
    </script>
{% endblock %}